!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src="/javascripts/handlebars.js")
    script(type='text/javascript', src="/javascripts/app.js")
    
  body!= body
  
    script(type='text/template')#image

      .image(data-tweet="{{tweet_id}}")
        .wrap
          img(src="{{url}}")
        .mojo
          p {{text}}
          cite(data-user-id="{{user_id}}") {{user}}